/*
====================================================================
                             Спільне
====================================================================
*/
.courses-view-grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 24px;
}
.content {
    padding: 0 5px 0 30px;
}
b {
    margin-bottom: 6px;
}
.courses-show {
    overflow-y: scroll;
    height: 570px;
    background-color: white;
    padding: 17px 30px;
}

/*
====================================================================
                    Фільтр характеристик курсу
====================================================================
*/
.courses-filter {
    background-color: #eeeeee;
    width: 400px;
    padding: 19px 30px;
    margin-bottom: 17px;
}
.courses-filter-header{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
.courses-filer-checkbox {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.courses-checkbox-container {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.courses-filter-actions{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 250px;
    height: 50px;
}
/*
====================================================================
             Верхня частина з пошуком та впорядкуванням
====================================================================
*/
.courses-search {
    flex: 1;
}
.courses-search-input {
    flex: 1;
    max-width: 880px;
}
.courses-form {
    display: flex;
    justify-content: space-between;
}
.courses-search-bar {
    padding-left: 10px;
    font-size: 17px;
    width: 100%;
}
.courses-search-options {
    display: flex;
    align-items: center;
    gap: 30px;
    height: 70px;
    padding: 0 10px 0 30px;
    background-color: white;
}
.courses-ordering {
    flex: 1;
    display: flex;
    gap: 10px;
}
.courses-ordering-actions{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
