:root {
    --main-color: #40d669;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f9f9f9;
}

.box-shadow {
    box-shadow: 1px 1px 7px rgba(1, 1, 1, 0.15);
}

.boder-solid-2p-light {
    border: solid 2px #dee2e6;
}

.ace_content{
    font-size: 20px;
}

.description-list-item {
    margin: 7px 0 7px 30px;
}

.gap7 {
    gap: 7px;
}
.gap15{
    gap: 15px;
}

.bg-light-programe {
    background-color: #faf9f7;
}

.code-piece {
    padding: 12px 20px;
    font-family: Consolas;
    background-color: #edf2f2;
    border-radius: 8px;
    margin: 0;
}

.code-line{
    margin: 4px 0;
}

.link-proj {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s;
}

.link-proj:hover{
    color: var(--main-color);
}

.fa-edit {
    margin-left: -10px;
}
/*
====================================================================
       Складність курсу (уся стилізація міні-блоку складності) 
====================================================================
*/
.course-charact {
    border: none;
    background-color: #ededed;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    flex-grow: 1;
    font-weight: 500;
    border-radius: 12px;
    transition: 0.25s;
}

.course-level-border {
    border: 1px solid;
}

.Beginner {
    background-color: rgba(172, 232, 177, 0.4);
    border-color: #4cb054;
}

    .Beginner:hover {
        background-color: rgba(172, 232, 177, 0.5);
    }

.Intermediate {
    background-color: rgba(235, 211, 155, 0.4);
    border-color: #c79a30;
}

    .Intermediate:hover {
        background-color: rgba(235, 211, 155, 0.5);
    }

.Advanced {
    background-color: rgba(234, 187, 240, 0.4);
    border-color: #b630c7;
}

    .Advanced:hover {
        background-color: rgba(234, 187, 240, 0.5);
    }

.Desktop {
    background-color: #fce7cf;
}

    .Desktop:hover {
        background-color: #fce5c2;
    }

.Web {
    background-color: #cfe3fc;
}

    .Web:hover {
        background-color: #cbe0f7;
    }

.Database {
    background-color: #e5defc;
}

    .Database:hover {
        background-color: #dbd2f7;
    }

.Mobile {
    background-color: #d2fad3;
}

    .Mobile:hover {
        background-color: #cbf5cf;
    }

.Gamedev {
    background-color: #fad4cf;
}

    .Gamedev:hover {
        background-color: #f7ccc6;
    }

.other-characters:hover {
    background-color: #e3e3e3;
}

.courses-additional-info {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}
/*
================================================================
                Спільне навігаційне меню
================================================================
*/
.upper-menu-container {
    flex: 1;
    display: grid;
    grid-template-columns: 10fr 128fr;
    padding: 0 10px;
}
.nav-links-flex {
    display: flex;
    justify-content: space-between;
}
.menu-items-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}
.sub-menu {
    z-index: 100;
    display: none;
    opacity: 0;
    background-color: rgb(255, 255, 255);
}
.nav-bar-proj ul {
    list-style: none;
}
.nav-bar-proj ul li:hover .sub-menu {
    display: block;
    position: absolute;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    animation: fadeIn 0.7s 1;
    animation-fill-mode: forwards;
}
.nav-bar-proj ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.nav-item-hv {
    font-size: 17px;
}
.menu-item {
    padding: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 3px rgba(0, 0, 0, 0) solid;
    transition: border-bottom 0.35s;
}
.link-item {
    margin: 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.nav-item-hv:hover .menu-item, .menu-item:hover {
    border-bottom: 3px var(--main-color) solid;
}

.login-signup{
    display: flex;
    gap: 15px;
    align-items: center;
}

/*
================================================================
         Непоодинокі елементи навігаційного посилання
================================================================
*/
.hover-item {
    width: 220px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.hover-item:hover {
    background-color: #faf9f7;
    animation: hover-item-animation 0.5s ease forwards;
}
@keyframes hover-item-animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(0.5rem);
    }
}

/*
==================================================================
                    Підказка при наведенні
==================================================================
*/
.edit-profile {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.edit-tooltip-text {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.76);
    color: #000;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    transform: translateX(-70%);
    white-space: nowrap;
    bottom: -70%;
}

.edit-profile:hover .edit-tooltip-text {
    opacity: 1;
}
.h3-input {
    font-size: 1.5em;
    font-weight: 500;
}
.h2-input {
    font-size: 2em;
    font-weight: 500;
}
.input-text-html {
    border: none;
    width: 100%;
    background-color: inherit;
    transition: all 0.2s ease-in-out;
}
.input-text-html:focus {
        outline: none;
        background-color: #f0f0f0;
    }
.height-100pc{
    height: 100%;
}
.description-area {
    resize: none;
    padding: 10px 12px;
    flex: 1;
}
input[type="checkbox"] {
    width: 17px;
    height: 17px;
}
input[type="checkbox"]:checked {    
    accent-color: green;
}