@{
    Layout =  "/Views/Shared/_EditorLayout.cshtml";
}

<div class="editor-task-container">
    <div class="task-description boder-solid-2p-light">
        <h4>Objective</h4>
        In this challenge, you will learn the usage of the for loop, which is a programming language statement which allows code to be executed until a terminal condition is met. They can even repeat forever if the terminal condition is never met.
    </div>

    <div class="editor-info">
        <div class="editor-upper-menu boder-solid-2p-light">
            <div></div>
            <a href="#"> #Theme </a>
            <a href="#"> #Language </a>
            <div> </div>
            <div class="editor-upper-buttons">
               <a href="#"> #Cr </a> 
               <a href="#"> #Os </a> 
            </div>
        </div>
        <div class="editor-container">
            <div id="editor">//Hello</div>
        </div>
        <div class="editor-lower-menu">
           <a href="#"> #Submit </a>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.19.0/ace.js" integrity="sha512-SW4evx3QqQEkHMJWqXaoYJYoVQZaMPc/5ZBwcwBprOWexxVa/izjqIaw+SwrGdp6hckpyxIWgPq8ZX45H3viAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.19.0/ext-language_tools.min.js" integrity="sha512-+Ttimfp41T7n7OqGBac2sbnV999KBsqR48DfkjLSJHAo6yMaAq9HodpM54dYLnkO45dTGsDWQ3TYtl8qXEQxFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
<script>
    ///TODO: зробити весь функціонал (очистити змінити стиль і тд) на кнопках і використати js для простоти кнопка відправити - це форма
     ace.require("ace/ext/language_tools");
      var editor = ace.edit("editor");
      editor.session.setMode("ace/mode/csharp");
      editor.setOptions({
        enableBasicAutocompletion: true,
        enableLiveAutocompletion: true,
        enableSnippets: true
      });
</script>