@using BLL.Person_entities.UserFolder;
@model User

@{
    ViewData["Title"] = Model.UserName;
	Layout = "/Views/Shared/_UserInfoLayout.cshtml";
}

<div class="profile-info-container">
	<div class="profile-photo-description">
		<div class="profile-picture">
			<img src="~/resources/TestPhoto.png" class="profile-thumbnail" />
		</div>
	</div>
	<div class="courses-other-info">

	</div>
</div>
